search-button {
    border: none;
    border-radius: 3rem;
    height: 2.5rem;
    width: 7rem;
    cursor: pointer;
    background-color: var(--blue);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: var(--smaller-space);
    
}

@media (min-width: 750px) {
    .search-button {
    height: 3rem;
    width: 9rem;
}
}