.footer {
    background-color: var(--green);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--smaller-space);
    justify-items: center;
}

.footer h3,
.footer a {
    margin-bottom: var(--tiny-space);
}

.footer {
    color: var(--blue);
} 