.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--smaller-space);
    justify-items: center;
    background:#f5f1be;
}
.footer h2{
    font-family: "sans-serif";
    font-size: 1.4rem;
    text-shadow: 2px 2px pink;
}
.footer h3,
.footer a {
    margin-bottom: var(--tiny-space);
}

.footer {
    color: var(--blue);
} 